<div class="thought {{ thought.model }} ff-roboto-mono" [ngClass]="widthThought()">

    <img src="/assets/image/{{ thought.model }}.png" alt="Aspas coloridas">
    <p class="content">{{ thought.content }}</p>
    <p class="authorship"><b>{{ thought.authorship }}</b></p>

    <div class="actions">
        <button class="button-favorite" (click)="updateFavorites()">
            <img src="../../../../assets/image/icone-favorito-{{ changeIconFavorite() }}.png" 
                alt="Ícone favorito {{ changeIconFavorite }}">
        </button>
        <button class="button-edit">
            <img src="/assets/image/icone-editar.png" routerLink="/thought/editThought/{{thought.id}}" alt="Ícone de editar">
        </button>
        <button class="button-delete" routerLink="/thought/deleteThought/{{thought.id}}">
            <img src="/assets/image/icone-excluir.png" alt="Ícone de excluir">
        </button>
    </div>

</div>